$header_backround: url('../img/m-h-night.jpg');
$header_color_txt:white;
$font_style:'Fresca', sans-serif;
$font_style_link:'Hind', sans-serif;
$All-Color:("main_bacround":#1b1e2a,"button":#e4ae00,"logo":#1b1e2a,"rectg":#ff4d30);

$button_backround:#e4ae00;

$main_backround:#1b1e2a;

$section_card_backround:#383d4f;

$section_card_color_txt:#ddddde;

$liner_gradient_banner:#dda301,#932951;

$head_bunner_color:#383d4f;

$footer_backround_txt:#383d4f;

$color:white;