$header_backround:url('../img/m-h-day.jpg');
$header_color_txt:#282b39;
$font_style:'Hind', sans-serif;
$font_style_link:'Hind', sans-serif;

$All-Color:("main_bacround":white,"button":#699a00,"logo":#1b1e2a,"rectg":#14A0C7);
$button_backround:#699a00;

$main_backround:white;

$section_card_backround:#1b1e2a;

$section_card_color_txt:#ddddde;

$liner_gradient_banner:#63940b,#2758de;

$head_bunner_color:#1b1e2a;

$footer_backround_txt:#1b1e2a;


$color:#282b39;
